@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    background-color: rgb(224, 224, 179);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body
{
	margin: 0;
    padding: 0;
}

p, ol, ul
{
    font-size: 20px;
    line-height: 30px;
}

ul, ol
{
    padding: 0;
    list-style-position: inside;
}

a, a:visited
{
    color: blue;
}

a:hover
{
    color: rgb(138, 117, 255)
}

a:active
{
    color: red;
}

p.caption
{
    font-size: 16px;
    color: rgb(120, 120, 120);
    font-style: oblique;
    margin: 0;
}

header
{
    text-align: center;
    background-color: rgb(141, 0, 141);
    color: pink;
    padding: 20px;
}

header img
{
    max-width: 200px;
    height: 200px;
    border: 20px solidrgba(0, 0, 0, 0.507);
    border-radius: 50%;
}

h1
{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 10px 0 20px 0;
    font-size: 50px;
}

h2
{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 20px 0;
    font-size: 30px;
}

@media (max-width: 600px)
{
    h2
    {
        font-size: 20px;
    }

    p, ol, ul
    {
        font-size: 20px;
        line-height: 30px;
    }
}

main
{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img
{
    max-width: 100%;
    max-height: 500px;
}

footer
{
    padding: 40px;
    background-color: rgb(171, 159, 255);
    text-align: center;
    margin-top: 60px;
}

footer .content
{
    max-width: 800px;
    margin: 0 auto;
}

footer a:hover
{
    color:lavenderblush;
}

@media (max-width: 600px)
{
    footer p
    {
        font-size: 16px;
    }

    footer
    {
        padding: 10px;
    }
}